/* h1 {

    background: blue;

} */

/* .jumbotron {

   background-image:   src="assets/images.jpg"; 
} */

/* body {

    background-image:   src=("assets/images.jpg");
} */

.jumbotron {
    background-image: url("images.jpg");
    background-position: center;
    
 }